.box{
    width: 800px;
    color: #000000;
    padding: 10rem 4rem;
    margin: 2rem auto;
    box-sizing: border-box;
    border-radius: 1rem;
    align-items: left;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    line-height: 55pt;
}
.button {
    background-color: #ffffff;
    border: none;
    border-radius: 60px;
    padding: 16px 56px;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
  }
.bg{
    background-color: #1DE592;
    width: 800px;
    box-sizing: border-box;
    margin: 1rem auto;
    border-radius: 1.2rem;
    font-family: 'Poppins', sans-serif;
}

h6{
    font-weight: 500;
}